extends layout

block content
  h1= title
  p Welcome to Sanardi's #{title}
  p Horses are cool. This is a Node Application that has been containerized with Docker!
  p Now I am writing stuff just so I have something to commit.
  p another paragraph
  p and another one
